html, body {
  margin: 0;
}

canvas {
  background: url('https://image.ibb.co/duQSde/Screen_Shot_2018_10_02_at_1_11_14_AM.png');
  background-size: contain;
  background-position: center;
}

.start {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  height: 25rem;
  width: 30rem;
  background: blue;
  color: white;
}
